---
import LayoutPage from "@layouts/LayoutPage.astro";

const resumeLink =
  "https://docs.google.com/document/d/e/2PACX-1vSZm44ZD6G9ki-PgF-TDw9NuNFCfx-_H5DLBr8FWd9qMfHP4h1LiMUjNKLZlg2EGIb2PQlbHLA7O68J/pub?embedded=true";
---

<LayoutPage>
  <main class="p-4 py-12 md:py-24 about">
    <div class="container mx-auto">
      <div class="grid grid-cols-1 md:grid-cols-[48px_auto_1fr] gap-4 md:gap-8">
        <!-- Heading -->
        <h2
          class="h2 md:origin-top-right md:-rotate-[90deg] md:-translate-x-[48px] md:translate-y-[130px] md:whitespace-nowrap"
        >
          <span>About</span>
        </h2>
        <!-- Horz Rule -->
        <div class="hidden md:block">
          <hr class="hr-vert" />
        </div>
        <div class="space-y-10">
          <!-- Article -->
          <article class="space-y-4 text-xl">
            <p>Hey there, I'm Sebastian 😄</p>
            <p>
              Welcome to portfolio. Here you will find projects I have worked on in and around games.
              Some of these projects are solo, others are with a single collaborator or a whole team.

            </p>
            <p>
/
            </p>
            <p>
             /
            </p>
            <p>
             /
            </p>
          </article>
          <hr class="hr" />
          <header class="flex justify-between items-center">
            <h3 class="h3">
              <span class="text-primary font-bold">{"["}</span>
              <span>Resume</span>
              <span class="text-primary font-bold">{"]"}</span>
            </h3>
            <a href={resumeLink} class="btn" target="_blank">
              <span>View on</span>
              <svg
                class="inline-block fill-current size-4 -translate-y-[2px]"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 488 512"
                ><path
                  d="M488 261.8C488 403.3 391.1 504 248 504 110.8 504 0 393.2 0 256S110.8 8 248 8c66.8 0 123 24.5 166.3 64.9l-67.5 64.9C258.5 52.6 94.3 116.6 94.3 256c0 86.5 69.1 156.6 153.7 156.6 98.2 0 135-70.4 140.8-106.9H248v-85.3h236.1c2.3 12.7 3.9 24.9 3.9 41.4z"
                ></path></svg
              >
              <span>&rarr;</span>
            </a>
          </header>
          <iframe
            class="bg-white shadow-xl "
            width="100%"
            height="800px"
            src={resumeLink}
          ></iframe>
        </div>
      </div>
    </div>
  </main>
</LayoutPage>
