/* Global Styles --- */

body {
  @apply bg-surface text-primary overflow-x-hidden;
}

#about {
  @apply !bg-secondary text-primary overflow-x-hidden;
}

*:focus {
  @apply outline-2 outline-offset-[5px] outline-secondary/10;
}

/* Typography --- */

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-bold;
}
h1 {
  @apply text-secondary text-4xl md:text-6xl;
}
h2 {
  @apply text-3xl md:text-5xl font-black uppercase;
}
h3 {
  @apply text-white text-xl md:text-3xl font-light uppercase;
}
h4 {
  @apply text-white text-lg md:text-xl font-light uppercase !text-right;
}
.anchor {
  @apply opacity-100 hover:opacity-75 text-secondary;
}

/* Elements --- */

.btn {
  @apply inline-block bg-secondary text-primary px-6 py-2 rounded-tr-lg rounded-bl-lg;
  @apply hover:brightness-110;
}

.hr {
  @apply border-t-2 w-full border-white/5 bg-none;
}
.hr-vert {
  @apply border-l-2 h-full border-white/5 bg-none max-h-[640px];
}

.selectable img {
  @apply aspect-[7/2]
}

input:checked + div label > .selectable img{
  @apply aspect-[5/2];
}

.fig-div {
  @apply hover:scale-[100.4%] shadow hover:shadow-xl;
  overflow: hidden;
}

.fig-div:hover a {
  @apply opacity-60;
}

.fig-div:hover a:hover {
  @apply opacity-90;
}

/* Prose --- */
/* https://tailwindcss.com/docs/typography-plugin */

.prose hr {
  @apply hr;
}
.prose a {
  @apply anchor;
}

/* Animations --- */

@keyframes anim-cube-spin {
  to {
    transform: rotate(360deg);
  }
}
.anim-cube-spin {
  animation: spin 320ms linear;
}
