---
const pathname = new URL(Astro.request.url).pathname;
const page = new URL(Astro.request.url).pathname.split('/').pop()

const links = [
  { href: "/", label: "Works" },
  { href: "/about", label: "About" },
];

function setActiveClass(link: Record<string, string>) {
  if (link.href === pathname)
    return "!opacity-100 decoration-secondary/50 decoration-4 underline underline-offset-4";
  return;
}
---

<header class="bg-primary p-4 md:p-6">
  <div
    class="container mx-auto grid grid-cols-[auto_1fr_auto] gap-4 items-center"
  >
    <!-- Logo -->
    <a href="/" title="Portfolio">
      <img
        class="w-[60px] anim-cube-spin"
        src="/logo.png"
        alt="Portfolio"
      />
    </a>
    <!-- Navigation -->
    {
      pathname.includes("/works") ? (
        // if in works, enable Go Back
        <nav>
          <a class="anchor" href={`/#${page}`}>
            &larr; Go Back
          </a>
        </nav>
      ) : (
        // else, show Browse
        <nav class="flex gap-4">
          {links.map((link) => (
            <a href={link.href} class={`anchor ${setActiveClass(link)}`}>
              {link.label}
            </a>
          ))}
        </nav>
      )
    }

    <!-- Contact -->
    <a class="btn" href="mailto:sfugle0@gmail.com">Let's Talk</a>
  </div>
</header>
